<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pessoa">
            <h2><span>Pessoa</span> {{pessoa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{pessoa.nome}}</span>
                </dd>
                <dt><span>Sobrenome</span></dt>
                <dd>
                    <span>{{pessoa.sobrenome}}</span>
                </dd>
                <dt><span>Cpf</span></dt>
                <dd>
                    <span>{{pessoa.cpf}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{pessoa.email}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pessoa', pessoa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
