<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-endereco-heading">Create or edit a Endereco</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!endereco.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="endereco.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_logradouro">Logradouro</label>
                    <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                        [(ngModel)]="endereco.logradouro" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bairro">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="field_bairro"
                        [(ngModel)]="endereco.bairro" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="field_cidade"
                        [(ngModel)]="endereco.cidade" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                        [(ngModel)]="endereco.estado" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pessoa">Pessoa</label>
                    <select class="form-control" id="field_pessoa" name="pessoa" [(ngModel)]="endereco.pessoa" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pessoaOption.id === endereco.pessoa?.id ? endereco.pessoa : pessoaOption" *ngFor="let pessoaOption of pessoas; trackBy: trackPessoaById">{{pessoaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
